#container {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  position: relative;
  margin-right: 20px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-right: 60px;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

#solid {
  top: 430px;
  left: 20px;
}

#liquid {
  top: 430px;
  left: 90px;
}

#gas {
  top: 430px;
  left: 160px;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 50%;
  right: 10px; /* Adjust the value to position the buttons as desired */
  transform: translateY(-50%);
  margin-top: 130px;
}

button {
  margin-top: 10px;
}

#simulation {
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  flex-direction: column;
}

.content {
  display: flex;
}